@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Philosopher&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(204, 216, 251);
    min-width: 475px;
}

* { 
    margin:0;
    padding:0;
}
header > h1 {
    padding: 8px;
    font-family: 'Righteous', cursive;
    font-size: 3.5em;
    color: rgb(99, 126, 201);
}

.col-md-4,.col-md-8,.col-md-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.think {
    margin: 3%;
}

#Di1, #Di2 {
    visibility: hidden;
}

.Dialogue1 > p {
    position: absolute;
    font-size: 20px;
    font-family: 'Philosopher';
   
    font-weight: bold;
    margin: -115px 0 0 60px;
}

.Dialogue2 > p {
    position: absolute;
    font-size: 20px;
    font-family: 'Philosopher';
   
    font-weight: bold;
    margin: -115px 0 0 27px;
}

.Dialogue {
    width: 325px;
    height: 119px;
    background-color: white;
    border-radius: 15px;
    padding: 16px;
}
.text_cover > p {
    line-height: 0.1em;
    font-size: 14px;
    font-family: 'Philosopher';
}
.Triangle {
    width: 0;
    height: 0;
    margin-left: 90px;
    border-left: 20px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid;
    color: white;
}
/* kyrwo */

.wrap {
    width: 65%;
    /* height: 560px;     */
    height: 100%;
    background-color: rgb(168, 208, 251);
    border-radius: 15px;
    margin: 30px 30px 0 30px;
    padding: 30px 30px 0 30px;
    text-align: center;
}
::placeholder {
    padding: 5px;
    font-style: italic;
}

/* #text_input {
    text-align: center;
} */

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(237, 249, 254);
    resize: none;
}

input[type=submit] {
    margin: 13px;
    width:100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255,216,1);
    font-family: 'Philosopher';
    font-size: 18px;
    font-weight: bold;
}
.text {
    padding: 5px;
    height: 35px;
    background-color: rgb(136, 191, 253);
    border-radius: 5px;
    /* min-width: 475px; */
}
h2 {
    font-family: 'Philosopher';
    font-size: 20px;
    font-weight: bold;
}

#player {
    width: 90%;
    height: 90%;
    margin: 10px 15px 0 15px;
}

.buttons {
    height: 100%;
}
.row1 > p {
    margin: 5px 0 0 0;
    font-weight: bold;
}
.row2 > p {
    margin: 7px 0;
}
a, a:hover {
    color: black;
}

button[name=confirm],button[name=calced] {
    /* display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; */
    margin: 10px;
    width:70px;
    height: 50px;
    border-radius: 10px;
    border-style:none;
    font-family: "Philosopher";
    font-weight: bold;
    /* margin: 80% 5px 80% 5px; */
}
button[name=confirm] {
    background-color: rgb(56,131,233);
}
button[name=calced] {
    background-color: rgb(229,71,71);
}

.lamp {
    margin: 10px 0 ;
}
